include LICENSE.txt
include README.rst
include legal.txt
recursive-include djangocms_storytext/locale *
recursive-include djangocms_storytext/static *
recursive-include djangocms_storytext/templates *
recursive-exclude * *.pyc
